node_modules
**/node_modules
.git
.gitignore
*.md
fly.toml
fly.frontend.toml
Dockerfile
backend/Dockerfile
backend/fly.toml
frontend/Dockerfile
frontend/fly.toml
frontend/dist
dist
.env
.env.*
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
